<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="discription" content="サイトの紹介文を記載">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="format-ditection" content="telephone=no" />
  <title>家計簿</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href="../static/css/style.css" rel="stylesheet" type="text/css">
  <link href="../static/css/input.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="wrap">
    <header class="header">
      <h1>入<span></span>力</h1>
    </header>
    <main class="main">
      <p id="date_today"></p>
      <h3 id="total_price">
        <dl>
          <dd>¥</dd>
          <dd>{{ total_price }}</dd>
        </dl>
      </h3>
      <h4>{{ date }}</h4>
      <form action="{{ url_for('delete_data') }}" method="post" enctype="multipart/form-data" id="date">
        <ul id="enterd_list">
          {% for item in result %}
          <li>
            <dl>
              <dd id="category">{{ item[3] }}</dd>
              <dd id="item_name">{{ item[1] }}</dd>
              <dd id="price">{{ item[2] }}</dd>
            </dl>
            <input type="hidden" class="input_date" name="date" value="{{ date }}" placeholder="日付" readonly>
            <button type="submit" class="delete_button" name="delete_id" value="{{ item[0] }}">削除</button>
          </li>
          {% endfor %}
        </ul><!--#enterd_list-->
      </form>

      <form action="{{ url_for('post_input') }}" method="post">
        <div id="form_area">
          <input type="text" class="input_category text_box" name="category" placeholder="カテゴリー" required>
          <input type="text" class="input_item text_box" name="item" placeholder="商品名" required>
          <input type="tel" class="input_price text_box" name="price" placeholder="価格" required>
          <input type="hidden" class="input_date text_box" name="date" value="{{ date }}" readonly>
        </div><!--#form_area-->
        <!-- <input type="button" class="plus_button" value="＋" onclick="addForm()"> -->
        <input type="submit" class="enter_button" value="登録">
      </form>
    </main>

    <footer id="footer">
      <div class="_bg">
        <ul>
          <li><a href="{{ input_detail_link }}">
              <dl>
                <dd class="list_icon"><i class="fa-regular fa-rectangle-list fa-2x"></i></dd>
                <dd class="list_text">詳 細</dd>
              </dl>
            </a></li>
          <li><a href="/">
              <dl>
                <dd class="list_icon"><i class="fa-solid fa-house-chimney fa-2x"></i></dd>
                <dd class="list_text">HOME</dd>
              </dl>
            </a></li>
          <li><a href="">
              <dl>
                <dd class="list_icon"><i class="fa-solid fa-pen-to-square fa-2x"></i></dd>
                <dd class="list_text">入力</dd>
              </dl>
            </a></li>
        </ul>
      </div><!--._bg-->
    </footer>
  </div><!-- ▼.wrap▼ -->

  <script src="../static/js/main.js"></script>
</body>

</html>